// CSS Style Guide: http://codeguide.co/#css



$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';
$variables = base $scheme custom;
$mixins    = base $scheme custom;



// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable


// Mixins Layer
// --------------------------------------------------
for $mixin in $mixins
  @import "_mixins/" + $mixin;



// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;



// Custom Layer
// --------------------------------------------------
@import "_custom/custom";


.posts-expand .post-eof{
  width:100%;
  background: none;
  margin:30px auto 60px;
  border-top:1px dashed #ededed;
}
.post-button .btn{
  border:none;
}
.post-button .btn:hover{
  background:#ccc;
}
.posts-expand .post-meta{
  margin-bottom:30px;
}
.post-button{
  margin-top:20px;
}
.posts-expand .post-tags{
  text-align:right;
}
.posts-expand .post-tags a{
  color:#999;
}